---
title: Покупай с нами
---

body
  .main.row
    section.col-lg-3.col-sm-12.section-blue
      .row
        .col-lg-6.col-lg-offset-3
          = image_tag 'book.png', class: 'img-responsive'
      .row
        .col-lg-12.col-lg-offset-4
          h1 книги
      .links
        .row
          .col-lg-12.col-lg-offset-2
            = link_to 'http://www.ozon.ru', target: 'ozon' do
              = image_tag 'banners/ozon.png', class: 'img-responsive'

    section.col-lg-3.col-sm-12.section-yellow
      .row
        .col-lg-6.col-lg-offset-3
          = image_tag 'travel.png', class: 'img-responsive'
      .row
        .col-lg-12.col-lg-offset-2
          h1 путешествия

    section.col-lg-3.col-sm-12.section-red
      .row
        .col-lg-6.col-lg-offset-3
          = image_tag 'medical.png', class: 'img-responsive'
      .row
        .col-lg-12.col-lg-offset-3
          h1 здоровье

    section.col-lg-3.col-sm-12.section-beige
      .row
        .col-lg-6.col-lg-offset-3
          = image_tag 'clothes.png', class: 'img-responsive'
      .row
        .col-lg-12.col-lg-offset-3
          h1 одежда
